@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

body {
    width: 100%;
    background: #0c1110;
    position: relative;
    font-family: 'Roboto', sans-serif;
}

.navbar {
    width: 100%;
    height: 80px;
    position: fixed;
    top: 0;
    left: 0;
    padding: 0 4%;
    background: #0c111b;
    z-index: 9;
    display: flex;
    align-items: center;
}
.left {
    /* border: 2px solid red; */
    color: white;
    position: absolute;
    left: 47px;
    top: 30px;
    display: flex;
    gap: 25px;
}
.left img {
    width: 50px;
    filter: invert(100%);
    display: inline;
    margin-top: -14px;
}

.left div {
    text-align: center;
    position: relative;
    right: -14px;
    margin-top: 4px;
    font-size: 19px;
    font-weight: 500;
}


.nav-links {
    position: absolute;
    left: 350px;
    margin-top: 10px;
    display: flex;
    list-style: none;
    gap: 15px;
}

.nav-items a {
    text-decoration: none;
    margin-left: 20px;
    text-transform: capitalize;
    color: white;
    opacity: 9;
}

.kids-icon {
    width: 40px;
    height: 15px;
}

.right-container {
    display: block;
    margin-left: auto;
}

.search-box {
    border: none;
    border-bottom: 1px solid #aaa;
    background: transparent;
    outline: none;
    height: 30px;
    color: #fff;
    width: 250px;
    text-transform: capitalize;
    font-size: 16px;
    font-weight: 500;
    transition: 0.5s;
    margin-right: 15px;
}

.search-box:focus {
    width: 400px;
    border-color: #1f80ce;
}



.learn-more-btn {
    background-color: #1f80ce; /* Blue color */
    color: #fff; /* White text color */
    padding: 10px 20px; /* Adjust padding as needed */
    border: none;
    margin-left: 47px;
    margin-top: 16px;
    border-radius: 5px; 
    cursor: pointer;
    transition: background-color 0.3s ease; 

   
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.learn-more-btn:hover {
    background-color: #2980b9; /* Darker blue on hover */
}

.login-link {
    color: #fff;
    opacity: 0.9;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 15px;
    margin-top: 80px;
    text-decoration: none;
}

/*----------carousel-section-starts--------*/
.carousel-container {
    position: relative;
    width: 100%;
    height: 400px;
    padding: 20px 0;
    overflow-x: 80px;
    margin-top: 80px;
}

.carousel {
    display: flex;
    width: 92%;
    height: 100%;
    position: relative;
    margin: auto;
    background: rgba(0, 0, 0, 0.1);
}

.slider {
    flex: 0 0 auto;
    margin-right: 30px;
    position: relative;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    width: 100%;
    height: 100%;
    left: 0;
    transition: 1s;
    overflow: hidden;
}

.slider img {
    width: 70%;
    min-height: 100%;
    object-fit: cover;
    display: block;
    margin-left: auto;

}

.slider-content {
    position: absolute;
    width: 50%;
    height: 100%;
    background: linear-gradient(to right, #030b17 80%, #0c111b00);
    color: white;
    z-index: 2;
}

.places-title {
    padding-left: 50px;
    text-transform: capitalize;
    margin-top: 80px;
}

.places-desc {
    width: 80%;
    line-height: 30px;
    padding-left: 50px;
    margin-top: 30px;
    opacity: 0.8;
}


/*----------carousel-section-ends--------*/


/*----------video-section-starts--------*/
.video-card-container {
    position: relative;
    width: 92%;
    margin: auto;
    height: 10vw;
    display: flex;
    margin-bottom: 20px;
    justify-content: space-between;
}

.video-card {
    position: relative;
    min-width: calc(100%/5 - 10px);
    width: calc(100%/5 - 10px);
    height: 100%;
    border-radius: 5px;
    overflow: hidden;
    background: #030b17;
}

.video-card-image,
.card-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-video {
    position: absolute
}

.video-card:hover .video-card-image {
    display: none;
}

/*----------video-section-ends--------*/


/*----------title-section-start--------*/
.title {
    color: white;
    opacity: 0.9;
    padding-left: 4%;
    text-transform: capitalize;
    font-size: 22px;
    font-weight: 500;
}

/*----------title-section-ends--------*/


/*---------- cards-section-start--------*/
.movies-list {
    width: 100%;
    height: 220px;
    position: relative;
    margin: 10px 0 20px;
}

.card-container {
    position: absolute;
    width: 92%;
    padding-left: 4%;
    height: 220px;
    display: flex;
    margin: 0 auto;
    align-items: center;
    overflow-x: auto;
    overflow-y: visible;
    scroll-behavior: smooth;
}

.card-container::-webkit-scrollbar {
    display: none;
}

.card {
    position: relative;
    min-width: 150px;
    width: 150px;
    height: 200px;
    border-radius: 5px;
    overflow: hidden;
    margin-right: 10px;
    transition: 0.5s;
    background: #030b17;
}

.card-img {
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.card:hover {
    transform: scale(1.1);
}

.card:hover .card-body:hover {
    opacity: 1;
}

.card-body {
    opacity: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    background: linear-gradient(to bottom, rgba(4, 8, 15, 0), #192133 90%);
    padding: 10px;
    transition: 0.5s;
}

.name {
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    text-transform: capitalize;
    margin-top: 60%;
}

.des {
    color: #fff;
    opacity: 0.8;
    margin: 5px 0;
    font-weight: 500;
    font-size: 12px;
}

.watchlist-btn {
    position: absolute;
    width: 100%;
    text-transform: capitalize;
    background: none;
    border: none;
    font-weight: 500;
    text-align: right;
    color: rgba(255, 255, 255, 0.5);
    margin: 5px 1px;
    cursor: pointer;
    padding: 10px -35px;
    border-radius: 5px;
    left: -77px;
    top: 154px;
    
}

.watchlist-btn::before {
    content: '';
    position: absolute;
    top: 0;
    left: 12px;
    height: 35px;
    width: 35px;
   /* background-image: url(./images/plane.png);*/
    background-size: cover;
    transform: scale(0.4);
}

.watchlist-btn:hover {
    color: #fff;
}

.pre-btn,
.nxt-btn {
    position: absolute;
    top: 0;
    width: 5%;
    height: 100%;
    z-index: 2;
    border: none;
    cursor: pointer;
}

.pre-btn {
    left: 0;
    background: linear-gradient(to right, #0c111b 0%, #0c111b);
}

.nxt-btn {
    right: 0;
    background: linear-gradient(to right, #0c111b 0%, #0c111b);
}

.pre-btn img,
.nxt-btn img {
    width: 15px;
    height: 20px;
    opacity: 0;
}
.pre-btn:hover img,
.nxt-btn:hover img{
    opacity: 1;
}



/*---------- cards-section-ends--------*/
